body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #e7e7f4; /* soft background */
  color: #55557d; /* default body text */
}

.split-layout {
  display: flex;
  min-height: 100vh;
  flex-wrap: wrap;
}

.left-panel, .right-panel {
  flex: 1;
  padding: 60px;
}

.left-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right-panel {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  font-weight: 800;
  font-size: 24px;
  color: #ffffff;
}

h2 {
  font-size: 32px;
  font-weight: 700;
  color: #ffffff;
}

em {
  font-style: italic;
  color: #55557d;
}

.description, .waitlist-info {
  margin: 20px 0;
  font-size: 18px;
  color: #9999cc;
}

.btn-primary {
  background-color: #8888aa;
  color: #ffffff;
  padding: 12px 24px;
  border-radius: 10px;
  font-weight: 600;
  text-decoration: none;
  display: inline-block;
  margin-top: 20px;
}

.testimonial {
  margin-top: 40px;
  font-style: italic;
  font-size: 16px;
  color: #6b6b93;
}

.author {
  display: block;
  font-size: 14px;
  margin-top: 10px;
  font-style: normal;
  color: #c2c2de;
}

.footer-icons {
  margin-top: 40px;
  font-size: 22px;
  color: #c2c2de;
}

.image-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 700px;
}

.main-image {
  width: 100%;
  max-width: 618px;
  height: auto;
  border-radius: 16px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
}
